# ShellCheck directives

# Suggest adding a default case in `case` statements.
enable=add-default-case

# Suggest explicitly using -n in `[ $var ]`
enable=avoid-nullary-conditions

# Suggest `command -v` instead of `which`
# https://pubs.opengroup.org/onlinepubs/9699919799/utilities/command.html
enable=deprecate-which

# Suggest quoting variables without metacharacters
enable=quote-safe-variables
