# https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
# Final newline is mandatory.
# https://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_206
insert_final_newline = true
trim_trailing_whitespace = true


[*.{yaml,yml}]
indent_size = 2
# Spaces are mandatory.
# https://yaml.org/spec/1.2.2/#61-indentation-spaces
indent_style = space


[*.md]
# Trailing whitespace is meaningful.
# https://spec.commonmark.org/0.30/#hard-line-breaks
trim_trailing_whitespace = false

[{makefile,Makefile}]
# Tabs are mandatory.
# https://pubs.opengroup.org/onlinepubs/9699919799/utilities/make.html#tag_20_76_13_06
indent_style = tab

# Unfortunately this can't be merged into the previous section.
[*.mk]
# Tabs are mandatory.
# https://pubs.opengroup.org/onlinepubs/9699919799/utilities/make.html#tag_20_76_13_06
indent_style = tab
